@model Atomia.Store.Themes.Default.Models.DefaultDomainsViewModel

<div class="domainreg-query big_search">
@using (Html.BeginForm("FindDomains", "Domains", FormMethod.Post, new { data_bind = "submitValid: DomainReg.submit" }))
{
    @Html.TextBoxFor(m => m.SearchQuery, new { data_bind = "value: DomainReg.query", id = "register_box", placeholder = "mydomain.com"})
    <button type="submit" class="button green" style="vertical-align:top;">Find domain</button>
    <p>@Html.ValidationMessageFor(m => m.SearchQuery)</p>
}
</div>
<br class="clear">

<div class="domainreg-results">
    <table data-bind="visible: DomainReg.hasResults">
        <thead>
            <tr>
                <th>Domain name</th>
                <th>Status</th>
                <th>Annual fee</th>
                <th>Buy</th>
            </tr>
        </thead>
        <tbody data-bind="foreach: DomainReg.results()">
            <tr>
                <td data-bind="text: Name"></td>
                <td data-bind="text: Description"></td>
                <td data-bind="text: PricingVariants[0].Price"></td>
                <td data-bind="click: addToCart"><button>Add to cart</button></td>
            </tr>
        </tbody>
    </table>
</div>
