@model Atomia.Store.Themes.Default.Models.DefaultDomainsViewModel
@using Atomia.Store.Core;

@{
    Layout = "~/Themes/Default/Views/_MainLayout.cshtml";
    ViewBag.Title = "Order web hosting and DNS";
}

<h3>@ViewBag.Title</h3>
<div class="settingsboxinner">
    <p>Fill out the form below to order Domain name and Web hosting package. Please note that all fields marked with an asterisk (<span class="required">*</span>) are required.</p>

    @using (Html.BeginForm())
    {

        <fieldset>
            
            <label for="queryType-domainreg">
                <input id="queryType-domainreg" name="queryType" type="radio" value="domainreg" data-bind="checked: Domains.queryType" />
                
            </label>

            <label for="queryType-transfer">
                <input id="queryType-transfer" name="queryType" type="radio" value="transfer" data-bind="checked: Domains.queryType" />
                
            </label>
        </fieldset>
    }

    <div data-bind="visible: Domains.domainRegActive">
        @Html.Partial("_DomainRegistration", Model)
    </div>
</div>

@section scripts {
    @Scripts.Render("~/bundles/domains")
}
