@model Atomia.Store.Themes.Default.Models.DefaultListCategoryViewModel
@using Atomia.Store.Core;

@{
    Layout = "~/Views/_MainLayout.cshtml";
    ViewBag.Title = @Model.Category;
}

<!DOCTYPE html>
@{
    dynamic ResourceProvider = new {};
}
<h2>@Model.Category</h2>
<p>
    This is a products listing.
</p>
<ul>
    @foreach (var product in Model.Products)
    {
        <li>
            <div>
                <h3>@product.Name</h3>
                <p>@product.Description</p>
                <ul>
                    @foreach (var pricingVariant in product.PricingVariants)
                    {
                        <li>
                            @pricingVariant
                        </li>
                    }
                </ul>
            </div>
            <p><button>Add to cart</button></p>
        </li>
    }
</ul>
