<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <section name="cachingConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Caching.Configuration.CacheManagerSettings, Microsoft.Practices.EnterpriseLibrary.Caching, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" requirePermission="true"/>
    <section name="loggingConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.LoggingSettings, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" requirePermission="true"/>
    <section name="appConfig" type="Atomia.Web.Base.Configs.AppConfig"/>
    <section name="atomiaRegularExpressionConfiguration" type="Atomia.Common.AtomiaRegularExpressionConfiguration, Atomia.Common"/>
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Microsoft.Practices.Unity.Configuration"/>
  </configSections>
  <cachingConfiguration defaultCacheManager="ProductsCache">
    <cacheManagers>
      <add name="ProductsCache" type="Microsoft.Practices.EnterpriseLibrary.Caching.CacheManager, Microsoft.Practices.EnterpriseLibrary.Caching, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" expirationPollFrequencyInSeconds="60" maximumElementsInCacheBeforeScavenging="1000" numberToRemoveWhenScavenging="10" backingStoreName="NullBackingStore"/>
    </cacheManagers>
    <backingStores>
      <add type="Microsoft.Practices.EnterpriseLibrary.Caching.BackingStoreImplementations.NullBackingStore, Microsoft.Practices.EnterpriseLibrary.Caching, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" name="NullBackingStore"/>
    </backingStores>
  </cachingConfiguration>
  <loggingConfiguration name="Logging Application Block" tracingEnabled="true" defaultCategory="General" logWarningsWhenNoCategoriesMatch="true">
    <listeners>
      <add name="Rolling Flat File Trace Listener" type="Microsoft.Practices.EnterpriseLibrary.Logging.TraceListeners.RollingFlatFileTraceListener, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.RollingFlatFileTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" fileName="c:\AtomiaLogs\Store.log" footer="----------------------------------------" formatter="Text Formatter Rolling File" header="----------------------------------------" rollFileExistsBehavior="Increment" rollInterval="Day" rollSizeKB="30720" timeStampPattern="yyyy-MM-dd" traceOutputOptions="None" filter="All"/>
    </listeners>
    <formatters>
      <add type="Microsoft.Practices.EnterpriseLibrary.Logging.Formatters.TextFormatter, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" template="Timestamp: {timestamp} Message: {message} Category: {category} Priority: {priority} EventId: {eventid} Severity: {severity} Title:{title} Machine: {machine} Application Domain: {appDomain} Process Id: {processId} Process Name: {processName} Win32 Thread Id: {win32ThreadId} Thread Name: {threadName} Extended Properties: {key} - {value} )}" name="Text Formatter Rolling File"/>
    </formatters>
    <categorySources>
      <add switchValue="All" name="Atomia Web Base Exceptions">
        <listeners>
          <add name="Rolling Flat File Trace Listener"/>
        </listeners>
      </add>
      <add switchValue="All" name="Atomia Web Frame Plugin Exceptions">
        <listeners>
          <add name="Rolling Flat File Trace Listener"/>
        </listeners>
      </add>
      <add switchValue="All" name="Atomia Store Exceptions">
        <listeners>
          <add name="Rolling Flat File Trace Listener"/>
        </listeners>
      </add>
      <add switchValue="Off" name="Debug"/>
      <add switchValue="Off" name="Trace"/>
    </categorySources>
    <specialSources>
      <errors switchValue="All" name="Logging Errors &amp; Warnings">
        <listeners>
          <add name="Rolling Flat File Trace Listener"/>
        </listeners>
      </errors>
    </specialSources>
  </loggingConfiguration>
  <appSettings>
    <add key="webpages:Version" value="2.0.0.0"/>
    <add key="webpages:Enabled" value="false"/>
    <add key="PreserveLoginUrl" value="true"/>
    <add key="ClientValidationEnabled" value="true"/>
    <!-- UnobtrusiveJavaScriptEnabled must be set to false for client-side validation via Atomia.Web.Plugin.Validation to work. -->
    <add key="UnobtrusiveJavaScriptEnabled" value="false"/>
    <add key="GlobalEventsHandler" value="MyTheme.GlobalEventsHandler, MyTheme"/>
    <!--
      * Specify themes as a comma separated list. 
      * Except the Default theme, only one theme at a time will be used.
      * The Default theme (if available) will be used as a fallback for views that do not exist in the current theme.
    -->
    <add key="ActiveThemes" value="MyTheme,Default"/>
    <!-- 
      * Specify one of the themes from ActiveThemes. 
      * Will be used as start theme for all users.
    -->
    <add key="StartTheme" value="MyTheme"/>
    <!-- 
        Used by Atomia.Store.Themes.Default.Adapter.PremiumDomainsProvider 
        Will be displayed more prominently on top of domain search results.    
    -->
    <add key="PremiumTLDs" value="com,net,org"/>
  </appSettings>
  <atomiaRegularExpressionConfiguration configSource="App_Data\atomiaRegularExpressionConfig.config"/>
  <appConfig xmlns="Atomia.Web.Base.Configs">
    <globalSettingsList>
      <globalSetting name="ActionTrailPowerSwitch" value="false"/>
      <globalSetting name="OrderApplicationPublicServiceURL" value="http://orderapi.dev.atomia.com/AtomiaBillingPublicService.asmx"/>
      <globalSetting name="OrderApplicationPublicServiceTimeout" value="600000"/>
    </globalSettingsList>
  </appConfig>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5.1" />
      </system.Web>
  -->
  <system.web>
    <compilation debug="true" targetFramework="4.6.1"/>
    <pages controlRenderingCompatibilityVersion="4.0">
      <namespaces>
        <add namespace="System.Web.Helpers"/>
        <add namespace="System.Web.Mvc"/>
        <add namespace="System.Web.Mvc.Ajax"/>
        <add namespace="System.Web.Mvc.Html"/>
        <add namespace="System.Web.Routing"/>
        <add namespace="System.Web.WebPages"/>
      </namespaces>
    </pages>
    <!-- 
      Our custom error handling makes all customErrors attributes and subelements except "mode" not do anything.
      The last ditch effort in the error handling is to to show the static page ~/Content/Error.html with status code 500 
    -->
    <customErrors mode="Off"/>
  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false"/>
    <modules runAllManagedModulesForAllRequests="false"/>
    <staticContent>
      <remove fileExtension=".woff"/>
      <mimeMap fileExtension=".woff" mimeType="application/font-woff"/>
    </staticContent>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http" publicKeyToken="b03f5f7f11d50a3a" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Razor" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages.Razor" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <unity xmlns="http://schemas.microsoft.com/practices/2010/unity">
    <alias alias="IProductsProvider" type="Atomia.Web.Plugin.ProductsProvider.IProductsProvider, Atomia.Web.Plugin.ProductsProvider"/>
    <alias alias="PublicApiShopProductsProvider" type="Atomia.Web.Plugin.ProductsProvider.PublicApiShopProductsProvider, Atomia.Web.Plugin.ProductsProvider"/>
    <alias alias="AtomiaBillingPublicService" type="Atomia.Web.Plugin.OrderServiceReferences.AtomiaBillingPublicService.AtomiaBillingPublicService, Atomia.Web.Plugin.OrderServiceReferences"/>
    <alias alias="ICachingManager" type="Atomia.Web.Plugin.ProductsProvider.ICachingManager, Atomia.Web.Plugin.ProductsProvider"/>
    <alias alias="HttpApplicationStateCacheManager" type="Atomia.Web.Plugin.HostingProducts.Helpers.HttpApplicationStateCacheManager, Atomia.Web.Plugin.HostingProducts"/>
    <alias alias="EntLibCachingManager" type="Atomia.Web.Plugin.ProductsProvider.EntLibCachingManager, Atomia.Web.Plugin.ProductsProvider"/>
    <!-- Uncomment the following aliases to use fake backend services. -->
    <!--
      <alias alias="ILanguageProvider" type="Atomia.Store.Core.ILanguageProvider, Atomia.Store.Core" />
      <alias alias="IResellerProvider" type="Atomia.Store.Core.IResellerProvider, Atomia.Store.Core" />
      <alias alias="ICountryProvider" type="Atomia.Store.Core.ICountryProvider, Atomia.Store.Core" />
      <alias alias="IProductListProvider" type="Atomia.Store.Core.IProductListProvider, Atomia.Store.Core" />
      <alias alias="IProductProvider" type="Atomia.Store.Core.IProductProvider, Atomia.Store.Core" />
      <alias alias="ICartPricingService" type="Atomia.Store.Core.ICartPricingService, Atomia.Store.Core" />
      <alias alias="IPaymentMethodsProvider" type="Atomia.Store.Core.IPaymentMethodsProvider, Atomia.Store.Core" />
      <alias alias="IResellerIdentifierProvider" type="Atomia.Store.Core.IResellerIdentifierProvider, Atomia.Store.Core" />
      <alias alias="IDomainsProvider" type="Atomia.Store.Core.IDomainsProvider, Atomia.Store.Core" />
      <alias alias="IOrderPlacementService" type="Atomia.Store.Core.IOrderPlacementService, Atomia.Store.Core" />
      <alias alias="ICurrencyProvider" type="Atomia.Store.Core.ICurrencyProvider, Atomia.Store.Core" />
      
      <alias alias="FakeLanguageProvider" type="Atomia.Store.Fakes.Adapters.FakeLanguageProvider, Atomia.Store.Fakes" />
      <alias alias="FakeResellerProvider" type="Atomia.Store.Fakes.Adapters.FakeResellerProvider, Atomia.Store.Fakes" />
      <alias alias="FakeCountryProvider" type="Atomia.Store.Fakes.Adapters.FakeCountryProvider, Atomia.Store.Fakes" />
      <alias alias="FakeCategoryProductsProvider" type="Atomia.Store.Fakes.Adapters.FakeCategoryProductsProvider, Atomia.Store.Fakes" />
      <alias alias="FakePricingProvider" type="Atomia.Store.Fakes.Adapters.FakePricingProvider, Atomia.Store.Fakes" />
      <alias alias="FakePaymentMethodsProvider" type="Atomia.Store.Fakes.Adapters.FakePaymentMethodsProvider, Atomia.Store.Fakes" />
      <alias alias="FakeRootResellerIdentifierProvider" type="Atomia.Store.Fakes.Adapters.FakeRootResellerIdentifierProvider, Atomia.Store.Fakes" />
      <alias alias="FakePremiumDomainsProvider" type="Atomia.Store.Fakes.Adapters.FakePremiumDomainsProvider, Atomia.Store.Fakes" />
      <alias alias="FakeOrderPlacementService" type="Atomia.Store.Fakes.Adapters.FakeOrderPlacementService, Atomia.Store.Fakes" />
      <alias alias="FakeCurrencyProvider" type="Atomia.Store.Fakes.Adapters.FakeCurrencyProvider, Atomia.Store.Fakes" />
    -->
    <container>
      <register type="AtomiaBillingPublicService">
        <property name="Url" value="http://orderapi.dev.atomia.com/AtomiaBillingPublicService.asmx"/>
        <property name="Timeout" value="600000"/>
      </register>
      <register type="EntLibCachingManager">
        <constructor>
          <param name="cacheManagerName" value="ProductsCache"/>
        </constructor>
      </register>
      <register type="ICachingManager" mapTo="EntLibCachingManager"/>
      <register type="IProductsProvider" mapTo="PublicApiShopProductsProvider">
        <constructor>
          <param name="publicService"/>
          <param name="cachingManager"/>
        </constructor>
      </register>
      <!-- Uncomment the following registrations to use fake backend services. -->
      <!--
        <register type="ILanguageProvider" mapTo="FakeLanguageProvider" />
        <register type="IResellerProvider" mapTo="FakeResellerProvider" />
        <register type="ICountryProvider" mapTo="FakeCountryProvider" />
        <register type="ICurrencyProvider" mapTo="FakeCurrencyProvider" />
        <register type="IProductListProvider" mapTo="FakeCategoryProductsProvider" name="Category" />
        <register type="IProductProvider" mapTo="FakeCategoryProductsProvider" />
        <register type="ICartPricingService" mapTo="FakePricingProvider" />
        <register type="IPaymentMethodsProvider" mapTo="FakePaymentMethodsProvider" />
        <register type="IResellerIdentifierProvider" mapTo="FakeRootResellerIdentifierProvider" />
        <register type="IDomainsProvider" mapTo="FakePremiumDomainsProvider" />
        <register type="IOrderPlacementService" mapTo="FakeOrderPlacementService" />
      -->
    </container>
  </unity>
</configuration>