<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <section name="cachingConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Caching.Configuration.CacheManagerSettings, Microsoft.Practices.EnterpriseLibrary.Caching, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" requirePermission="true"/>
    <section name="loggingConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.LoggingSettings, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" requirePermission="true"/>
    <section name="appConfig" type="Atomia.Web.Base.Configs.AppConfig"/>
    <section name="atomiaRegularExpressionConfiguration" type="Atomia.Common.AtomiaRegularExpressionConfiguration, Atomia.Common"/>
    <section name="atomiaCommon" type="Atomia.Common.Configuration.AtomiaCommon, Atomia.Common"/>
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Microsoft.Practices.Unity.Configuration"/>
  </configSections>
  <cachingConfiguration defaultCacheManager="ProductsCache">
    <cacheManagers>
      <add name="ProductsCache" type="Microsoft.Practices.EnterpriseLibrary.Caching.CacheManager, Microsoft.Practices.EnterpriseLibrary.Caching, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" expirationPollFrequencyInSeconds="60" maximumElementsInCacheBeforeScavenging="1000" numberToRemoveWhenScavenging="10" backingStoreName="NullBackingStore"/>
    </cacheManagers>
    <backingStores>
      <add type="Microsoft.Practices.EnterpriseLibrary.Caching.BackingStoreImplementations.NullBackingStore, Microsoft.Practices.EnterpriseLibrary.Caching, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" name="NullBackingStore"/>
    </backingStores>
  </cachingConfiguration>
  <loggingConfiguration name="Logging Application Block" tracingEnabled="true" defaultCategory="General" logWarningsWhenNoCategoriesMatch="true">
    <listeners>
      <add name="Rolling Flat File Trace Listener" type="Microsoft.Practices.EnterpriseLibrary.Logging.TraceListeners.RollingFlatFileTraceListener, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.RollingFlatFileTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" fileName="c:\AtomiaLogs\Store.log" footer="----------------------------------------" formatter="Text Formatter Rolling File" header="----------------------------------------" rollFileExistsBehavior="Increment" rollInterval="Day" rollSizeKB="30720" timeStampPattern="yyyy-MM-dd" traceOutputOptions="None" filter="All"/>
    </listeners>
    <formatters>
      <add type="Microsoft.Practices.EnterpriseLibrary.Logging.Formatters.TextFormatter, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" template="Timestamp: {timestamp} Message: {message} Category: {category} Priority: {priority} EventId: {eventid} Severity: {severity} Title:{title} Machine: {machine} Application Domain: {appDomain} Process Id: {processId} Process Name: {processName} Win32 Thread Id: {win32ThreadId} Thread Name: {threadName} Extended Properties: {key} - {value} )}" name="Text Formatter Rolling File"/>
    </formatters>
    <categorySources>
      <add switchValue="All" name="Atomia Web Base Exceptions">
        <listeners>
          <add name="Rolling Flat File Trace Listener"/>
        </listeners>
      </add>
      <add switchValue="All" name="Atomia Web Frame Plugin Exceptions">
        <listeners>
          <add name="Rolling Flat File Trace Listener"/>
        </listeners>
      </add>
      <add switchValue="All" name="Atomia Store Exceptions">
        <listeners>
          <add name="Rolling Flat File Trace Listener"/>
        </listeners>
      </add>
      <add switchValue="Off" name="Debug"/>
      <add switchValue="Off" name="Trace"/>
    </categorySources>
    <specialSources>
      <errors switchValue="All" name="Logging Errors &amp; Warnings">
        <listeners>
          <add name="Rolling Flat File Trace Listener"/>
        </listeners>
      </errors>
    </specialSources>
  </loggingConfiguration>
  <appSettings>
    <add key="webpages:Version" value="2.0.0.0"/>
    <add key="webpages:Enabled" value="false"/>
    <add key="PreserveLoginUrl" value="true"/>
    <add key="ClientValidationEnabled" value="true"/>
    <!-- UnobtrusiveJavaScriptEnabled must be set to false for client-side validation via Atomia.Web.Plugin.Validation to work. -->
    <add key="UnobtrusiveJavaScriptEnabled" value="false"/>
    <add key="GlobalEventsHandler" value="Atomia.Store.Themes.Default.DefaultGlobalEventsHandler, Atomia.Store.Themes.Default"/>
    <!--
      * Specify themes as a comma separated list. 
      * Except the Default theme, only one theme at a time will be used.
      * The Default theme (if available) will be used as a fallback for views that do not exist in the current theme.
    -->
    <add key="ActiveThemes" value="Default"/>
    <!-- 
      * Specify one of the themes from ActiveThemes. 
      * Will be used as start theme for all users.
    -->
    <add key="StartTheme" value="Default"/>
    <!-- TokenLoginUrl is used if TokenLoginOrderCreator is used to directly log user in after order is completed. -->
    <add key="TokenLoginUrl" value="https://login.dev.atomia.com/LoginOneTimeToken"/>
    <!-- 
        Used by Atomia.Store.Themes.Default.Adapter.PremiumDomainsProvider 
        Will be displayed more prominently on top of domain search results.    
    -->
    <add key="PremiumTLDs" value="com,net,org"/>
    <!-- If product and cart item prices should be displayed including or excluding VAT -->
    <add key="PricesIncludeVat" value="true"/>
    <!-- 
        If you have DefaultCampaignPricingProvider activated (activated by default) you can set a campaign code here that will be 
        added to all carts that don't have another campaign code added. 
    -->
    <add key="DefaultCampaignCode" value=""/>
    <!-- 
        If you want customer to get logged in directly after order set this to true. It will register the correct Atomia.Store.PublicBillingApi.OrderCreator 
        with Unity. You can also override whatever OrderCreator is set as usual in the <unity> section.
    -->
    <add key="LoginAfterOrder" value="false"/>
    <!-- 
        VPS cpu, ram and disk counter types configuration
    -->
    <!--<add key="UseSliders" value="true" />-->
    <!-- 
        Configuration of VPS sliders 
    -->
    <!--<add key="SliderConfig" value='{"VPS-LINUX":{"cpu":{"values":[1,4,8,16],"labels":["1 core","4 cores","8 cores","16 cores"],"startIndex":0},"ram":{"values":[512,1024,2048,4096,8192,16384],"labels":["512MB","1GB","2GB","4GB","8GB","16GB"],"startIndex":2},"disk":{"values":[10,512,1024],"labels":["10GB","512GB","1TB"],"startIndex":1}},"VPS-WINDOWS":{"cpu":{"values":[1,4,8,16],"labels":["1 core","4 cores","8 cores","16 cores"],"startIndex":1},"ram":{"values":[512,1024,2048,4096,8192,16384],"labels":["512MB","1GB","2GB","4GB","8GB","16GB"],"startIndex":2},"disk":{"values":[10,128,256,512,1024],"labels":["10GB","128GB","256GB","512GB","1TB"],"startIndex":1}}}' />-->
    <!--
        Decimal places for VPS prices
    -->
    <!--<add key="VpsPriceDecimalPlaces" value="4" />-->
  </appSettings>
  <atomiaRegularExpressionConfiguration configSource="App_Data\atomiaRegularExpressionConfig.config"/>
  <atomiaCommon separateUsernameAndEmail="false" xmlns="atomia.com">
    <executionContext fallback="true" lifetimeManager="Atomia.Common.ServiceBasedExecutionContextLifetimeManager, Atomia.Common"/>
    <phoneCodePairs>
      <phoneCodePair countryCode="AF" phoneCode="93"/>
      <phoneCodePair countryCode="AL" phoneCode="355"/>
      <phoneCodePair countryCode="DZ" phoneCode="213"/>
      <phoneCodePair countryCode="AS" phoneCode="1684"/>
      <phoneCodePair countryCode="AD" phoneCode="376"/>
      <phoneCodePair countryCode="AO" phoneCode="244"/>
      <phoneCodePair countryCode="AQ" phoneCode="1672"/>
      <phoneCodePair countryCode="AG" phoneCode="1268"/>
      <phoneCodePair countryCode="AR" phoneCode="54"/>
      <phoneCodePair countryCode="AM" phoneCode="374"/>
      <phoneCodePair countryCode="AW" phoneCode="297"/>
      <phoneCodePair countryCode="AU" phoneCode="61"/>
      <phoneCodePair countryCode="AT" phoneCode="43"/>
      <phoneCodePair countryCode="AZ" phoneCode="994"/>
      <phoneCodePair countryCode="BS" phoneCode="1242"/>
      <phoneCodePair countryCode="BH" phoneCode="973"/>
      <phoneCodePair countryCode="BD" phoneCode="880"/>
      <phoneCodePair countryCode="BB" phoneCode="1246"/>
      <phoneCodePair countryCode="BY" phoneCode="375"/>
      <phoneCodePair countryCode="BE" phoneCode="32"/>
      <phoneCodePair countryCode="BZ" phoneCode="501"/>
      <phoneCodePair countryCode="BJ" phoneCode="229"/>
      <phoneCodePair countryCode="BM" phoneCode="1441"/>
      <phoneCodePair countryCode="BT" phoneCode="975"/>
      <phoneCodePair countryCode="BO" phoneCode="591"/>
      <phoneCodePair countryCode="BA" phoneCode="387"/>
      <phoneCodePair countryCode="BW" phoneCode="267"/>
      <phoneCodePair countryCode="BR" phoneCode="55"/>
      <phoneCodePair countryCode="VG" phoneCode="1284"/>
      <phoneCodePair countryCode="BN" phoneCode="673"/>
      <phoneCodePair countryCode="BG" phoneCode="359"/>
      <phoneCodePair countryCode="BF" phoneCode="226"/>
      <phoneCodePair countryCode="MM" phoneCode="95"/>
      <phoneCodePair countryCode="BI" phoneCode="257"/>
      <phoneCodePair countryCode="KH" phoneCode="855"/>
      <phoneCodePair countryCode="CM" phoneCode="237"/>
      <phoneCodePair countryCode="CA" phoneCode="1"/>
      <phoneCodePair countryCode="KY" phoneCode="1345"/>
      <phoneCodePair countryCode="TD" phoneCode="235"/>
      <phoneCodePair countryCode="CL" phoneCode="56"/>
      <phoneCodePair countryCode="CN" phoneCode="86"/>
      <phoneCodePair countryCode="CO" phoneCode="57"/>
      <phoneCodePair countryCode="CG" phoneCode="242"/>
      <phoneCodePair countryCode="CK" phoneCode="682"/>
      <phoneCodePair countryCode="CR" phoneCode="506"/>
      <phoneCodePair countryCode="HR" phoneCode="385"/>
      <phoneCodePair countryCode="CU" phoneCode="53"/>
      <phoneCodePair countryCode="CY" phoneCode="357"/>
      <phoneCodePair countryCode="CZ" phoneCode="420"/>
      <phoneCodePair countryCode="DK" phoneCode="45"/>
      <phoneCodePair countryCode="DM" phoneCode="1767"/>
      <phoneCodePair countryCode="DO" phoneCode="1809"/>
      <phoneCodePair countryCode="EC" phoneCode="593"/>
      <phoneCodePair countryCode="EG" phoneCode="20"/>
      <phoneCodePair countryCode="SV" phoneCode="503"/>
      <phoneCodePair countryCode="GQ" phoneCode="240"/>
      <phoneCodePair countryCode="EE" phoneCode="372"/>
      <phoneCodePair countryCode="ET" phoneCode="251"/>
      <phoneCodePair countryCode="FO" phoneCode="298"/>
      <phoneCodePair countryCode="FJ" phoneCode="679"/>
      <phoneCodePair countryCode="FI" phoneCode="358"/>
      <phoneCodePair countryCode="FR" phoneCode="33"/>
      <phoneCodePair countryCode="MQ" phoneCode="596"/>
      <phoneCodePair countryCode="GF" phoneCode="594"/>
      <phoneCodePair countryCode="PF" phoneCode="689"/>
      <phoneCodePair countryCode="GA" phoneCode="241"/>
      <phoneCodePair countryCode="GM" phoneCode="220"/>
      <phoneCodePair countryCode="GE" phoneCode="995"/>
      <phoneCodePair countryCode="DE" phoneCode="49"/>
      <phoneCodePair countryCode="GH" phoneCode="233"/>
      <phoneCodePair countryCode="GI" phoneCode="350"/>
      <phoneCodePair countryCode="GR" phoneCode="30"/>
      <phoneCodePair countryCode="GL" phoneCode="299"/>
      <phoneCodePair countryCode="GD" phoneCode="1473"/>
      <phoneCodePair countryCode="GP" phoneCode="590"/>
      <phoneCodePair countryCode="GU" phoneCode="1671"/>
      <phoneCodePair countryCode="GT" phoneCode="502"/>
      <phoneCodePair countryCode="GN" phoneCode="224"/>
      <phoneCodePair countryCode="GW" phoneCode="245"/>
      <phoneCodePair countryCode="GY" phoneCode="592"/>
      <phoneCodePair countryCode="HT" phoneCode="509"/>
      <phoneCodePair countryCode="HN" phoneCode="504"/>
      <phoneCodePair countryCode="HK" phoneCode="852"/>
      <phoneCodePair countryCode="HU" phoneCode="36"/>
      <phoneCodePair countryCode="IS" phoneCode="354"/>
      <phoneCodePair countryCode="IN" phoneCode="91"/>
      <phoneCodePair countryCode="ID" phoneCode="62"/>
      <phoneCodePair countryCode="IQ" phoneCode="964"/>
      <phoneCodePair countryCode="IE" phoneCode="353"/>
      <phoneCodePair countryCode="IL" phoneCode="972"/>
      <phoneCodePair countryCode="IT" phoneCode="39"/>
      <phoneCodePair countryCode="JM" phoneCode="1876"/>
      <phoneCodePair countryCode="JP" phoneCode="81"/>
      <phoneCodePair countryCode="JO" phoneCode="962"/>
      <phoneCodePair countryCode="KZ" phoneCode="7"/>
      <phoneCodePair countryCode="KE" phoneCode="254"/>
      <phoneCodePair countryCode="KW" phoneCode="965"/>
      <phoneCodePair countryCode="KG" phoneCode="996"/>
      <phoneCodePair countryCode="LV" phoneCode="371"/>
      <phoneCodePair countryCode="LB" phoneCode="961"/>
      <phoneCodePair countryCode="LS" phoneCode="266"/>
      <phoneCodePair countryCode="LI" phoneCode="423"/>
      <phoneCodePair countryCode="LT" phoneCode="370"/>
      <phoneCodePair countryCode="LU" phoneCode="352"/>
      <phoneCodePair countryCode="MO" phoneCode="853"/>
      <phoneCodePair countryCode="MK" phoneCode="389"/>
      <phoneCodePair countryCode="MG" phoneCode="261"/>
      <phoneCodePair countryCode="MW" phoneCode="265"/>
      <phoneCodePair countryCode="MY" phoneCode="60"/>
      <phoneCodePair countryCode="MV" phoneCode="960"/>
      <phoneCodePair countryCode="ML" phoneCode="223"/>
      <phoneCodePair countryCode="MT" phoneCode="356"/>
      <phoneCodePair countryCode="MR" phoneCode="222"/>
      <phoneCodePair countryCode="MU" phoneCode="230"/>
      <phoneCodePair countryCode="MX" phoneCode="52"/>
      <phoneCodePair countryCode="MD" phoneCode="373"/>
      <phoneCodePair countryCode="MC" phoneCode="377"/>
      <phoneCodePair countryCode="MN" phoneCode="976"/>
      <phoneCodePair countryCode="MA" phoneCode="212"/>
      <phoneCodePair countryCode="MZ" phoneCode="258"/>
      <phoneCodePair countryCode="NA" phoneCode="264"/>
      <phoneCodePair countryCode="NR" phoneCode="674"/>
      <phoneCodePair countryCode="NP" phoneCode="977"/>
      <phoneCodePair countryCode="NL" phoneCode="31"/>
      <phoneCodePair countryCode="AN" phoneCode="599"/>
      <phoneCodePair countryCode="NC" phoneCode="687"/>
      <phoneCodePair countryCode="NZ" phoneCode="64"/>
      <phoneCodePair countryCode="NI" phoneCode="505"/>
      <phoneCodePair countryCode="NE" phoneCode="227"/>
      <phoneCodePair countryCode="NG" phoneCode="234"/>
      <phoneCodePair countryCode="MP" phoneCode="1670"/>
      <phoneCodePair countryCode="NO" phoneCode="47"/>
      <phoneCodePair countryCode="OM" phoneCode="968"/>
      <phoneCodePair countryCode="PK" phoneCode="92"/>
      <phoneCodePair countryCode="PW" phoneCode="680"/>
      <phoneCodePair countryCode="PS" phoneCode="970"/>
      <phoneCodePair countryCode="PA" phoneCode="507"/>
      <phoneCodePair countryCode="PG" phoneCode="675"/>
      <phoneCodePair countryCode="PY" phoneCode="595"/>
      <phoneCodePair countryCode="PE" phoneCode="51"/>
      <phoneCodePair countryCode="PH" phoneCode="63"/>
      <phoneCodePair countryCode="PL" phoneCode="48"/>
      <phoneCodePair countryCode="PT" phoneCode="351"/>
      <phoneCodePair countryCode="PR" phoneCode="1787"/>
      <phoneCodePair countryCode="QA" phoneCode="974"/>
      <phoneCodePair countryCode="RO" phoneCode="40"/>
      <phoneCodePair countryCode="RU" phoneCode="7"/>
      <phoneCodePair countryCode="RW" phoneCode="250"/>
      <phoneCodePair countryCode="SM" phoneCode="378"/>
      <phoneCodePair countryCode="SA" phoneCode="966"/>
      <phoneCodePair countryCode="SN" phoneCode="221"/>
      <phoneCodePair countryCode="RS" phoneCode="381"/>
      <phoneCodePair countryCode="SC" phoneCode="248"/>
      <phoneCodePair countryCode="SL" phoneCode="232"/>
      <phoneCodePair countryCode="SG" phoneCode="65"/>
      <phoneCodePair countryCode="SK" phoneCode="421"/>
      <phoneCodePair countryCode="SI" phoneCode="386"/>
      <phoneCodePair countryCode="SO" phoneCode="252"/>
      <phoneCodePair countryCode="ZA" phoneCode="27"/>
      <phoneCodePair countryCode="ES" phoneCode="34"/>
      <phoneCodePair countryCode="LK" phoneCode="94"/>
      <phoneCodePair countryCode="SD" phoneCode="249"/>
      <phoneCodePair countryCode="SR" phoneCode="597"/>
      <phoneCodePair countryCode="SZ" phoneCode="268"/>
      <phoneCodePair countryCode="SE" phoneCode="46"/>
      <phoneCodePair countryCode="CH" phoneCode="41"/>
      <phoneCodePair countryCode="TW" phoneCode="886"/>
      <phoneCodePair countryCode="TJ" phoneCode="992"/>
      <phoneCodePair countryCode="TH" phoneCode="66"/>
      <phoneCodePair countryCode="TG" phoneCode="228"/>
      <phoneCodePair countryCode="TT" phoneCode="1868"/>
      <phoneCodePair countryCode="TN" phoneCode="216"/>
      <phoneCodePair countryCode="TR" phoneCode="90"/>
      <phoneCodePair countryCode="TM" phoneCode="993"/>
      <phoneCodePair countryCode="TC" phoneCode="1649"/>
      <phoneCodePair countryCode="TZ" phoneCode="255"/>
      <phoneCodePair countryCode="UG" phoneCode="256"/>
      <phoneCodePair countryCode="UA" phoneCode="380"/>
      <phoneCodePair countryCode="AE" phoneCode="971"/>
      <phoneCodePair countryCode="GB" phoneCode="44"/>
      <phoneCodePair countryCode="US" phoneCode="1"/>
      <phoneCodePair countryCode="UY" phoneCode="598"/>
      <phoneCodePair countryCode="VI" phoneCode="1340"/>
      <phoneCodePair countryCode="UZ" phoneCode="998"/>
      <phoneCodePair countryCode="VU" phoneCode="678"/>
      <phoneCodePair countryCode="VE" phoneCode="58"/>
      <phoneCodePair countryCode="VN" phoneCode="84"/>
      <phoneCodePair countryCode="WF" phoneCode="681"/>
      <phoneCodePair countryCode="WS" phoneCode="685"/>
      <phoneCodePair countryCode="YE" phoneCode="967"/>
      <phoneCodePair countryCode="ZM" phoneCode="260"/>
      <phoneCodePair countryCode="ZW" phoneCode="263"/>
      <phoneCodePair countryCode="ME" phoneCode="382"/>
      <phoneCodePair countryCode="AI" phoneCode="1264"/>
      <phoneCodePair countryCode="AX" phoneCode="35818"/>
      <phoneCodePair countryCode="BL" phoneCode="590"/>
      <phoneCodePair countryCode="BQ" phoneCode="5997"/>
      <phoneCodePair countryCode="CC" phoneCode="61"/>
      <phoneCodePair countryCode="CD" phoneCode="243"/>
      <phoneCodePair countryCode="CF" phoneCode="236"/>
      <phoneCodePair countryCode="CI" phoneCode="225"/>
      <phoneCodePair countryCode="CV" phoneCode="238"/>
      <phoneCodePair countryCode="CW" phoneCode="5999"/>
      <phoneCodePair countryCode="CX" phoneCode="61"/>
      <phoneCodePair countryCode="DJ" phoneCode="253"/>
      <phoneCodePair countryCode="EH" phoneCode="5289"/>
      <phoneCodePair countryCode="ER" phoneCode="291"/>
      <phoneCodePair countryCode="FK" phoneCode="500"/>
      <phoneCodePair countryCode="FM" phoneCode="691"/>
      <phoneCodePair countryCode="GG" phoneCode="441481"/>
      <phoneCodePair countryCode="GS" phoneCode="500"/>
      <phoneCodePair countryCode="IM" phoneCode="441624"/>
      <phoneCodePair countryCode="IO" phoneCode="246"/>
      <phoneCodePair countryCode="IR" phoneCode="98"/>
      <phoneCodePair countryCode="JE" phoneCode="441534"/>
      <phoneCodePair countryCode="KI" phoneCode="686"/>
      <phoneCodePair countryCode="KM" phoneCode="269"/>
      <phoneCodePair countryCode="KN" phoneCode="1869"/>
      <phoneCodePair countryCode="KP" phoneCode="850"/>
      <phoneCodePair countryCode="KR" phoneCode="82"/>
      <phoneCodePair countryCode="LA" phoneCode="856"/>
      <phoneCodePair countryCode="LC" phoneCode="1758"/>
      <phoneCodePair countryCode="LR" phoneCode="231"/>
      <phoneCodePair countryCode="LY" phoneCode="218"/>
      <phoneCodePair countryCode="MF" phoneCode="590"/>
      <phoneCodePair countryCode="MH" phoneCode="692"/>
      <phoneCodePair countryCode="MS" phoneCode="1664"/>
      <phoneCodePair countryCode="NF" phoneCode="6723"/>
      <phoneCodePair countryCode="NU" phoneCode="683"/>
      <phoneCodePair countryCode="PM" phoneCode="508"/>
      <phoneCodePair countryCode="PN" phoneCode="64"/>
      <phoneCodePair countryCode="RE" phoneCode="262"/>
      <phoneCodePair countryCode="SB" phoneCode="677"/>
      <phoneCodePair countryCode="SH" phoneCode="2908"/>
      <phoneCodePair countryCode="SJ" phoneCode="4779"/>
      <phoneCodePair countryCode="SS" phoneCode="211"/>
      <phoneCodePair countryCode="ST" phoneCode="239"/>
      <phoneCodePair countryCode="SX" phoneCode="1721"/>
      <phoneCodePair countryCode="TK" phoneCode="690"/>
      <phoneCodePair countryCode="TO" phoneCode="676"/>
      <phoneCodePair countryCode="TV" phoneCode="688"/>
      <phoneCodePair countryCode="VA" phoneCode="3906698"/>
      <phoneCodePair countryCode="VC" phoneCode="1784"/>
      <phoneCodePair countryCode="YT" phoneCode="262"/>
      <phoneCodePair countryCode="VH" phoneCode="04725"/>
      <phoneCodePair countryCode="NN" phoneCode="0044"/>
      <phoneCodePair countryCode="EI" phoneCode="34"/>
      <phoneCodePair countryCode="EA" phoneCode="34"/>
    </phoneCodePairs>
  </atomiaCommon>
  <appConfig xmlns="Atomia.Web.Base.Configs">
    <globalSettingsList>
      <globalSetting name="ActionTrailPowerSwitch" value="false"/>
      <globalSetting name="OrderApplicationPublicServiceURL" value="http://orderapi.dev.atomia.com/AtomiaBillingPublicService.asmx"/>
      <globalSetting name="OrderApplicationPublicServiceTimeout" value="600000"/>
    </globalSettingsList>
  </appConfig>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5.1" />
      </system.Web>
  -->
  <system.web>
    <compilation debug="true" targetFramework="4.6.1"/>
    <pages controlRenderingCompatibilityVersion="4.0">
      <namespaces>
        <add namespace="System.Web.Helpers"/>
        <add namespace="System.Web.Mvc"/>
        <add namespace="System.Web.Mvc.Ajax"/>
        <add namespace="System.Web.Mvc.Html"/>
        <add namespace="System.Web.Routing"/>
        <add namespace="System.Web.WebPages"/>
      </namespaces>
    </pages>
    <!-- 
      Our custom error handling makes all customErrors attributes and subelements except "mode" not do anything.
      The last ditch effort in the error handling is to to show the static page ~/Content/Error.html with status code 500 
    -->
    <customErrors mode="Off"/>
  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false"/>
    <modules runAllManagedModulesForAllRequests="false"/>
    <staticContent>
      <remove fileExtension=".woff"/>
      <mimeMap fileExtension=".woff" mimeType="application/font-woff"/>
    </staticContent>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http" publicKeyToken="b03f5f7f11d50a3a" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Razor" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages.Razor" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <unity xmlns="http://schemas.microsoft.com/practices/2010/unity">
    <alias alias="IProductsProvider" type="Atomia.Web.Plugin.ProductsProvider.IProductsProvider, Atomia.Web.Plugin.ProductsProvider"/>
    <alias alias="PublicApiShopProductsProvider" type="Atomia.Web.Plugin.ProductsProvider.PublicApiShopProductsProvider, Atomia.Web.Plugin.ProductsProvider"/>
    <alias alias="AtomiaBillingPublicService" type="Atomia.Web.Plugin.OrderServiceReferences.AtomiaBillingPublicService.AtomiaBillingPublicService, Atomia.Web.Plugin.OrderServiceReferences"/>
    <alias alias="ICachingManager" type="Atomia.Web.Plugin.ProductsProvider.ICachingManager, Atomia.Web.Plugin.ProductsProvider"/>
    <alias alias="HttpApplicationStateCacheManager" type="Atomia.Web.Plugin.HostingProducts.Helpers.HttpApplicationStateCacheManager, Atomia.Web.Plugin.HostingProducts"/>
    <alias alias="EntLibCachingManager" type="Atomia.Web.Plugin.ProductsProvider.EntLibCachingManager, Atomia.Web.Plugin.ProductsProvider"/>
    <!-- Uncomment the following aliases to use fake backend services. -->
    <!--
      <alias alias="ILanguageProvider" type="Atomia.Store.Core.ILanguageProvider, Atomia.Store.Core" />
      <alias alias="IResellerProvider" type="Atomia.Store.Core.IResellerProvider, Atomia.Store.Core" />
      <alias alias="ICountryProvider" type="Atomia.Store.Core.ICountryProvider, Atomia.Store.Core" />
      <alias alias="IProductListProvider" type="Atomia.Store.Core.IProductListProvider, Atomia.Store.Core" />
      <alias alias="IProductProvider" type="Atomia.Store.Core.IProductProvider, Atomia.Store.Core" />
      <alias alias="ICartPricingService" type="Atomia.Store.Core.ICartPricingService, Atomia.Store.Core" />
      <alias alias="IPaymentMethodsProvider" type="Atomia.Store.Core.IPaymentMethodsProvider, Atomia.Store.Core" />
      <alias alias="IResellerIdentifierProvider" type="Atomia.Store.Core.IResellerIdentifierProvider, Atomia.Store.Core" />
      <alias alias="IDomainsProvider" type="Atomia.Store.Core.IDomainsProvider, Atomia.Store.Core" />
      <alias alias="IOrderPlacementService" type="Atomia.Store.Core.IOrderPlacementService, Atomia.Store.Core" />
      <alias alias="ICurrencyProvider" type="Atomia.Store.Core.ICurrencyProvider, Atomia.Store.Core" />
      
      <alias alias="FakeLanguageProvider" type="Atomia.Store.Fakes.Adapters.FakeLanguageProvider, Atomia.Store.Fakes" />
      <alias alias="FakeResellerProvider" type="Atomia.Store.Fakes.Adapters.FakeResellerProvider, Atomia.Store.Fakes" />
      <alias alias="FakeCountryProvider" type="Atomia.Store.Fakes.Adapters.FakeCountryProvider, Atomia.Store.Fakes" />
      <alias alias="FakeCategoryProductsProvider" type="Atomia.Store.Fakes.Adapters.FakeCategoryProductsProvider, Atomia.Store.Fakes" />
      <alias alias="FakePricingProvider" type="Atomia.Store.Fakes.Adapters.FakePricingProvider, Atomia.Store.Fakes" />
      <alias alias="FakePaymentMethodsProvider" type="Atomia.Store.Fakes.Adapters.FakePaymentMethodsProvider, Atomia.Store.Fakes" />
      <alias alias="FakeRootResellerIdentifierProvider" type="Atomia.Store.Fakes.Adapters.FakeRootResellerIdentifierProvider, Atomia.Store.Fakes" />
      <alias alias="FakePremiumDomainsProvider" type="Atomia.Store.Fakes.Adapters.FakePremiumDomainsProvider, Atomia.Store.Fakes" />
      <alias alias="FakeOrderPlacementService" type="Atomia.Store.Fakes.Adapters.FakeOrderPlacementService, Atomia.Store.Fakes" />
      <alias alias="FakeCurrencyProvider" type="Atomia.Store.Fakes.Adapters.FakeCurrencyProvider, Atomia.Store.Fakes" />
    -->
    <container>
      <register type="AtomiaBillingPublicService">
        <property name="Url" value="http://orderapi.dev.atomia.com/AtomiaBillingPublicService.asmx"/>
        <property name="Timeout" value="600000"/>
      </register>
      <register type="EntLibCachingManager">
        <constructor>
          <param name="cacheManagerName" value="ProductsCache"/>
        </constructor>
      </register>
      <register type="ICachingManager" mapTo="EntLibCachingManager"/>
      <register type="IProductsProvider" mapTo="PublicApiShopProductsProvider">
        <constructor>
          <param name="publicService"/>
          <param name="cachingManager"/>
        </constructor>
      </register>
      <!-- Uncomment the following registrations to use fake backend services. -->
      <!--
        <register type="ILanguageProvider" mapTo="FakeLanguageProvider" />
        <register type="IResellerProvider" mapTo="FakeResellerProvider" />
        <register type="ICountryProvider" mapTo="FakeCountryProvider" />
        <register type="ICurrencyProvider" mapTo="FakeCurrencyProvider" />
        <register type="IProductListProvider" mapTo="FakeCategoryProductsProvider" name="Category" />
        <register type="IProductProvider" mapTo="FakeCategoryProductsProvider" />
        <register type="ICartPricingService" mapTo="FakePricingProvider" />
        <register type="IPaymentMethodsProvider" mapTo="FakePaymentMethodsProvider" />
        <register type="IResellerIdentifierProvider" mapTo="FakeRootResellerIdentifierProvider" />
        <register type="IDomainsProvider" mapTo="FakePremiumDomainsProvider" />
        <register type="IOrderPlacementService" mapTo="FakeOrderPlacementService" />
      -->
    </container>
  </unity>
</configuration>