<?xml version="1.0" encoding="utf-8" ?>
<!-- CONFIGURATION SECTION: <domainSearchConfigurationSection>

   Domain Search Credentials
  Collection of variables used for authentication with Domain Reg Service

  <domainSearchAttributeList>
    <domainSearchProperty name="Username" value="John"/>
    <domainSearchProperty name="Password" value="Johnspassword"/>
    <domainSearchProperty name="URL" value="URLOfTheDomainRegWebService"/>
  </domainSearchAttributeList>

  * name="Username" - username used for authentication with domain reg service
  * name="Password" - password used for authentication with domain reg service
  * name="URL" - URL pointing to the domain reg web service
-->
  <configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Atomia.Web.Plugin.DomainSearch.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
      <section name="domainSearchConfigurationSection" type="Atomia.Web.Plugin.DomainSearch.Configurations.DomainSearchConfigurationSection, Atomia.Web.Plugin.DomainSearch"/>
      <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Microsoft.Practices.Unity.Configuration, Version=2.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
    </configSections>
    <!--==========Domain Search Section=================-->
    <domainSearchConfigurationSection xmlns="Atomia.Web.Plugin.DomainSearch.Configurations">
      <domainSearchAttributeList>
        <domainSearchProperty name="Username" value="domainreg" />
		<domainSearchProperty name="Password" value="password123" />
		<domainSearchProperty name="URL" value="http://192.168.33.11/domainreg" />
      </domainSearchAttributeList>
    </domainSearchConfigurationSection>
    <!--================================================-->
    <applicationSettings>
        <Atomia.Web.Plugin.DomainSearch.Properties.Settings>
            <setting name="Atomia_Web_Plugin_DomainSearch_DomainCheckApi_AtomiaDomainRegistrationService"
                serializeAs="String">
                <value>http://atomia.soap.server/domainreg</value>
            </setting>
        </Atomia.Web.Plugin.DomainSearch.Properties.Settings>
    </applicationSettings>
    <!-- ===================================== -->
    <!--        Configuration of unity         -->
    <!-- ===================================== -->
    <unity>
      <typeAliases>
        <!-- Custom object types -->
        <typeAlias alias="IDomainListProvider" type="Atomia.Web.Plugin.DomainSearch.Helpers.IDomainListProvider, Atomia.Web.Plugin.DomainSearch" />
        <typeAlias alias="DomainListProvider" type="Atomia.Web.Plugin.DomainSearch.Helpers.DomainListProvider, Atomia.Web.Plugin.DomainSearch" />
        <typeAlias alias="AdvancedDomainListProvider" type="Atomia.Web.Plugin.DomainSearch.Helpers.AdvancedDomainListProvider, Atomia.Web.Plugin.DomainSearch" />
      </typeAliases>
      <containers>
        <container name="domainSearchContainer">
          <types>
            <type type="IDomainListProvider" mapTo="DomainListProvider" />
          </types>
        </container>
      </containers>
    </unity>
  </configuration>