<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="atomiaCommon" type="Atomia.Common.Configuration.AtomiaCommon, Atomia.Common"/>
  </configSections>
  
  <atomiaCommon xmlns="atomia.com">
    <executionContext fallback="true" lifetimeManager="Atomia.Common.ServiceBasedExecutionContextLifetimeManager, Atomia.Common"/>
  </atomiaCommon>  
</configuration>