<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="publicOrderHandlersData" type="Atomia.Store.PublicOrderHandlers.Configuration.PublicOrderHandlersDataManager, Atomia.Store.PublicOrderHandlers"/>
    <section name="appConfig" type="Atomia.Web.Base.Configs.AppConfig, Atomia.Web.Base"/>
  </configSections>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/></startup>
  <publicOrderHandlersData>
    <mailOnOrderSettings>
      <!--<add productId="DMN-NO" cccEmail="email@example.com" email="Norid" />-->
    </mailOnOrderSettings>
  </publicOrderHandlersData>
  <appConfig xmlns="Atomia.Web.Base.Configs">
	<pluginSettingsList>
      <pluginSettingsPlugin pluginName="PublicOrderHandlers">
        <pluginSetting name="DefaultDNSService" value="CsDomainParking" />
        <pluginSetting name="DefaultHostingService" value="CsLinuxWebsite" />
      </pluginSettingsPlugin>
    </pluginSettingsList>
   </appConfig>
</configuration>
