<?xml version="1.0" encoding="utf-8"?>
<atomiaRegularExpressionConfiguration xmlns="Atomia.Common">
  <regularExpressionList>
    <regularExpression name="Email">      
      <pattern><![CDATA[^[a-z0-9!#$%&'\"*+/=?^_`{|}~-]+(?:\.[a-z0-9!#$%&'\"*+/=?^_`{|}~-]+)*@(?:[^-](?:.*.)?\.)+.{2,}$]]></pattern>      
    </regularExpression>
      <regularExpression name="EncodedDomain">
        <pattern><![CDATA[^(xn--)?([a-zA-Z0-9ÅÄÖÜåäöü]+[a-zA-Z0-9ÅÄÖÜåäöü\-]+)(\.[a-zA-Z0-9ÅÄÖÜåäöü\-]+)*\.[a-zA-Z]{2,10}$]]></pattern>
      </regularExpression>
    <regularExpression name="DomainSearch">
      <pattern><![CDATA[^[a-zA-Z0-9ÅÄÖÜåäöü][a-zA-Z0-9ÅÄÖÜåäöü\-]{0,61}[a-zA-Z0-9ÅÄÖÜåäöü]([.][a-zA-Z]{2,10})*[.]?[\s]*$]]></pattern>
    </regularExpression>
    <regularExpression name="DomainFront">
      <pattern><![CDATA[^([a-zA-Z0-9ÅÄÖÜåäöü]([a-zA-Z0-9ÅÄÖÜåäöü\-]{0,61}[a-zA-Z0-9ÅÄÖÜåäöü]))+[\s\.]*$]]></pattern>
    </regularExpression>
    <regularExpression name="Domain">
      <pattern><![CDATA[^([a-zA-Z0-9ÅÄÖÜåäöü]([a-zA-Z0-9ÅÄÖÜåäöü\-]{0,61}[a-zA-Z0-9ÅÄÖÜåäöü])?\.)+[a-zA-Z]{2,10}[\s\.]*$]]></pattern>
    </regularExpression>
    <regularExpression name="DomainSE">
      <pattern><![CDATA[^([a-zA-Z0-9ÅÄÖÜåäöü]([a-zA-Z0-9ÅÄÖÜåäöü\-]{0,61}[a-zA-Z0-9ÅÄÖÜåäöü])?\.)+[sS][eE][\s\.]*$]]></pattern>
    </regularExpression>
    <regularExpression name="DomainUS">
      <pattern><![CDATA[^([a-zA-Z0-9ÅÄÖÜåäöü]([a-zA-Z0-9ÅÄÖÜåäöü\-]{0,61}[a-zA-Z0-9ÅÄÖÜåäöü])?\.)+[uU][sS][\s\.]*$]]></pattern>
    </regularExpression>
    <regularExpression name="DomainTEL">
      <pattern><![CDATA[^([a-zA-Z0-9ÅÄÖÜåäöü]([a-zA-Z0-9ÅÄÖÜåäöü\-]{0,61}[a-zA-Z0-9ÅÄÖÜåäöü])?\.)+[tT][eE][lL][\s\.]*$]]></pattern>
    </regularExpression>
    <regularExpression name="DomainME">
      <pattern><![CDATA[^([a-zA-Z0-9ÅÄÖÜåäöü]([a-zA-Z0-9ÅÄÖÜåäöü\-]{0,61}[a-zA-Z0-9ÅÄÖÜåäöü])?\.)+[mM][eE][\s\.]*$]]></pattern>
    </regularExpression>
    <regularExpression name="DomainCOM">
      <pattern><![CDATA[^([a-zA-Z0-9ÅÄÖÜåäöü]([a-zA-Z0-9ÅÄÖÜåäöü\-]{0,61}[a-zA-Z0-9ÅÄÖÜåäöü])?\.)+[cC][oO][mM][\s\.]*$]]></pattern>
    </regularExpression>
    <regularExpression name="DomainDE">
      <pattern><![CDATA[^([a-zA-Z0-9ÅÄÖÜåäöü]([a-zA-Z0-9ÅÄÖÜåäöü\-]{0,61}[a-zA-Z0-9ÅÄÖÜåäöü])?\.)+[dD][eE][\s\.]*$]]></pattern>
    </regularExpression>
    <regularExpression name="DomainNET">
      <pattern><![CDATA[^([a-zA-Z0-9ÅÄÖÜåäöü]([a-zA-Z0-9ÅÄÖÜåäöü\-]{0,61}[a-zA-Z0-9ÅÄÖÜåäöü])?\.)+[nN][eE][tT][\s\.]*$]]></pattern>
    </regularExpression>
    <regularExpression name="DomainORG">
      <pattern><![CDATA[^([a-zA-Z0-9ÅÄÖÜåäöü]([a-zA-Z0-9ÅÄÖÜåäöü\-]{0,61}[a-zA-Z0-9ÅÄÖÜåäöü])?\.)+[oO][rR][gG][\s\.]*$]]></pattern>
    </regularExpression>
    <regularExpression name="DomainINFO">
      <pattern><![CDATA[^([a-zA-Z0-9ÅÄÖÜåäöü]([a-zA-Z0-9ÅÄÖÜåäöü\-]{0,61}[a-zA-Z0-9ÅÄÖÜåäöü])?\.)+[iI][nN][fF][oO][\s\.]*$]]></pattern>
    </regularExpression>
    <regularExpression name="DomainBIZ">
      <pattern><![CDATA[^([a-zA-Z0-9ÅÄÖÜåäöü]([a-zA-Z0-9ÅÄÖÜåäöü\-]{0,61}[a-zA-Z0-9ÅÄÖÜåäöü])?\.)+[bB][iI][zZ][\s\.]*$]]></pattern>
    </regularExpression>
    <regularExpression name="DomainCO.UK">
      <pattern><![CDATA[^([a-zA-Z0-9ÅÄÖÜåäöü]([a-zA-Z0-9ÅÄÖÜåäöü\-]{0,61}[a-zA-Z0-9ÅÄÖÜåäöü])?\.)+[cC][oO]\.[uU][kK][\s\.]*$]]></pattern>
    </regularExpression>
    <regularExpression name="DomainBZ">
      <pattern><![CDATA[^([a-zA-Z0-9ÅÄÖÜåäöü]([a-zA-Z0-9ÅÄÖÜåäöü\-]{0,61}[a-zA-Z0-9ÅÄÖÜåäöü])?\.)+[bB][zZ][\s\.]*$]]></pattern>
    </regularExpression>
    <regularExpression name="DomainEU">
      <pattern><![CDATA[^([a-zA-Z0-9ÅÄÖÜåäöü]([a-zA-Z0-9ÅÄÖÜåäöü\-]{0,61}[a-zA-Z0-9ÅÄÖÜåäöü])?\.)+[eE][uU][\s\.]*$]]></pattern>
    </regularExpression>
    <regularExpression name="DomainMOBI">
      <pattern><![CDATA[^([a-zA-Z0-9ÅÄÖÜåäöü]([a-zA-Z0-9ÅÄÖÜåäöü\-]{0,61}[a-zA-Z0-9ÅÄÖÜåäöü])?\.)+[mM][oO][bB][iI][\s\.]*$]]></pattern>
    </regularExpression>
    <regularExpression name="DomainNAME">
      <pattern><![CDATA[^([a-zA-Z0-9ÅÄÖÜåäöü]([a-zA-Z0-9ÅÄÖÜåäöü\-]{0,61}[a-zA-Z0-9ÅÄÖÜåäöü])?\.)+[nN][aA][mM][eE][\s\.]*$]]></pattern>
    </regularExpression>
    <regularExpression name="DomainNU">
      <pattern><![CDATA[^([a-zA-Z0-9ÅÄÖÜåäöü\-]{4,61}\.)+[nN][uU][\s\.]*$]]></pattern>
    </regularExpression>
	<regularExpression name="DomainNO">
      <pattern><![CDATA[^([a-zA-Z0-9ÅÄÖÜåäöü]([a-zA-Z0-9ÅÄÖÜåäöü\-]{0,61}[a-zA-Z0-9ÅÄÖÜåäöü])?\.)+[nN][oO][\s\.]*$]]></pattern>
    </regularExpression>
  </regularExpressionList>
</atomiaRegularExpressionConfiguration>