<div id="vat_alert" class="warning">
    <p>Your VAT number in not correct/validation service is not available atm, therefore VAT will be applied to your invoice. You should check your VAT number and try to validate it again.</p>
    <div class="formrow">
        <h5><label for="vat_again">VAT number:</label></h5>
        <div class="col2row"><input id="vat_again" type="text" value="SE-804576985"> <a id="vat_trigger" class="button small green" href="javascript:void(0);">Retry</a></div>
        <br class="clear">
    </div>
</div>
<div id="vat_box" class="success" style="display: none;">
    <h4>VAT validation successful</h4>
    <p>Your VAT number is successfully validated and your invoice will be free of VAT.</p>
</div>