@{
    Layout = "~/Themes/Default/Views/_NoCartLayout.cshtml";
}

<h3 class="center important_heading">@Html.CommonResource("CheckoutFailureTitle")</h3>
<div class="settingsboxinner">
    <div class="center important_msg">
        @Html.CommonResourceRaw("CheckoutFailureDescription")
    </div>
    <p class="actions center" style="display: block;">
        @Html.ActionLink(Html.CommonResource("TryAgain"), "Index", "Checkout", null, new { @class = "button large", style = "display: inline-block;" })
    </p>
</div>

@section scripts {

}
