@model Atomia.Store.AspNetMvc.Models.DefaultCheckoutViewModel

@{
    Layout = "~/Themes/Default/Views/_OrderFlowLayout.cshtml";
}

<div class="settingsboxinner">
    <div data-bind="visible: cart.isEmpty()">
        @{ Html.RenderPartial("_EmptyCart", Model); }
    </div>

    @using (Html.BeginForm("Index", "Checkout", FormMethod.Post, new { id = "Checkout_Form" }))
    {
        @Html.AntiForgeryToken()

        <div data-bind="visible: !cart.isEmpty()">
            @{ Html.RenderPartial("_ValidationSummary", ViewData.ModelState); }

            @{ Html.RenderPartial("_BeforePaymentMethods", Model); }

            @{ Html.RenderPartial("_PaymentMethods", Model.PaymentMethodGuiPlugins); }

            @{ Html.RenderPartial("_PaymentProfile", Model); }

            @{ Html.RenderPartial("_BeforeCampaign", Model); }
            
            @{ Html.RenderPartial("_Campaign"); }

            @{ Html.RenderPartial("_VatCheck"); }

            @{ Html.RenderPartial("_BeforeCartSummary", Model); }

            @{ Html.RenderPartial("_CartSummary"); }

            @{ Html.RenderPartial("_TermsOfServiceConfirmation", Model); }

            @{ Html.RenderPartial("_BeforeActions", Model); }

        </div>

             Html.RenderPartial("_Actions", Model);
    }
</div>

@section scripts {
    @{ Html.RenderPartial("_Scripts", Model); }

    @{ Html.RenderPartial("_ExtraScripts", Model); }
}
