@{
    Layout = "~/Themes/Default/Views/_SimpleLayout.cshtml";
}

<div class="settingsboxinner">
    <h4>@Html.CommonResource("CheckoutSuccessTitle")</h4>
    <p>@Html.CommonResource("CheckoutSuccessDescription")</p>
</div>

@section scripts {

}
