@model Atomia.Store.AspNetMvc.Models.TermsOfServiceViewModel

@{
    Layout = "~/Themes/Default/Views/_NoScriptsLayout.cshtml";
    ViewBag.Title = Model.Name;
}

<div class="settingsboxinner">
    <h3>@Model.Name</h3>
    @Model.Terms
</div>
