@using Atomia.Store.AspNetMvc.Models
@{
    var orderFlow = (OrderFlowModel)ViewBag.OrderFlow;
    var routeValues = orderFlow.IsDefault ? null : new { flow = orderFlow.Name };
}

<p class="actions" style="display: block;">
    @if (!string.IsNullOrEmpty(orderFlow.CurrentStep.Previous)){
        @Html.RouteLink(Html.CommonResource("Back"), orderFlow.CurrentStep.Previous, routeValues, new { id = "back_step", @class = "button large", style = "display: inline-block;" })
    }
    
    @Html.RouteLink(Html.CommonResource("Next"), orderFlow.CurrentStep.Next, routeValues, new { id = "next_step", @class = "button large green", data_bind = "visible: Products.AllowContinue()" })
</p>