@* Should be wrapped in a 'with' binding for the ProductListingModel. See HostingPackage.cshtml *@

<div class="col_set no_gutter" data-bind="foreach: products">
    <div class="col_3">
        <div class="card full-width stickers selectable" data-bind="css: { selected: IsInCart } ">
            <div class="card_content">
                <h4 class="card_content_title" data-bind="text: Name"></h4>
                <p class="card_content_description" data-bind="html: Description"></p>
                <p class="card_sticker" data-bind="visible: hasVariants">
                    <label class="select" data-bind="attr: { for: uniqueId }">
                        <select data-bind="
                            options: PricingVariants,
                            optionsText: 'Display',
                            value: selectedPricingVariant,
                            attr: {
                                name: uniqueId,
                                id: uniqueId
                            }"></select>
                    </label>
                </p>
                <p class="card_sticker" data-bind="visible: !hasVariants()">
                    <span class="card_sticker_big" data-bind="text: price"></span>
                    <!-- ko if: renewalPeriod -->
                    <span class="card_sticker_small" data-bind="text: renewalPeriod().Display"></span>
                    <!-- /ko-->
                    <!-- ko ifnot: renewalPeriod -->
                    <span class="card_sticker_small">&nbsp;</span>
                    <!-- /ko-->
                </p>
            </div>
            <p class="card_buttons"><a id="app_01" href="javascript:void(0);" class="button green" data-bind="click: $parent.selectProduct, css: { disabled: IsInCart }">@Html.CommonResource("Select")</a></p>
        </div>
    </div>
</div>
