<script type="text/javascript">
    ko.components.register('domain-connection', {
        template: { element: 'domain-connection-tmpl' },
        viewModel: {
            createViewModel: function (params) {
                var viewModel = new Atomia.ViewModels.DomainConnectionModel(params.cart, params.selectedItem);
                viewModel.statusNotifier = params.statusNotifier;
                viewModel.updateDomainNameOptions();

                return viewModel;
            }
        }
    });
</script>

<script type="text/html" id="domain-connection-tmpl">
    <label class="select">
        <select data-bind="
            attr: {
                id: uniqueId,
                name: uniqueId
            },
            options: domainNameOptions,
            optionsCaption: '---',
            optionsAfterRender: setInitialDomainName,
            value: selectedDomainName
            "></select>
    </label>
</script>
