<h4>@Html.CommonResource("ConnectedDomain")</h4>
<p>@Html.CommonResource("ConnectedDomainDescription")</p>
<div class="formrow">
    <h5>
        <label for="master">
            @Html.CommonResource("ConnectedDomain"):
        </label>
    </h5>
    <div class="col2row" data-bind="component: {
        name: 'domain-connection',
        params: {
            cart: Atomia.VM.Cart,
            selectedItem: Atomia.VM.Products.SelectedProduct,
            statusNotifier: Atomia.VM.ConnectedDomainStatus
        }
    }">

    </div>
    <br class="clear">
</div>
