td, th 
{
    padding: 0.5em 1em;
    border: 1px solid gray;
}

table 
{
    margin: 2em 0 0 0;
    border: 1px solid gray;
    width: 540px;
}

thead 
{
    background: lightgray;
    font-weight: bold;
}

input.input-validation-error, select.input-validation-error, textarea.input-validation-error {
	outline: 2px solid #f30!important
}
span.input-validation-error, span.field-validation-error {
	margin: .3em 0 0;
	color: #F30;
	font-style:italic;
	font-size: 92%;
	line-height: 1.2em;
	display: block;
}
.field-validation-error + form {
	padding-top:15px;
}

input {
    margin: 1em 0 0 0 !important;
}