@model Atomia.Store.AspNetMvc.Models.DefaultAccountViewModel

@{
    Layout = "~/Themes/Default/Views/_OrderFlowLayout.cshtml";
}

<div class="settingsboxinner">

    @using (Html.BeginForm("Index", "Account", FormMethod.Post, new { id = "Account_Form" }))
    {
        Html.RenderPartial("_ValidationSummary", ViewData.ModelState);
        
        @Html.AntiForgeryToken();

        Html.RenderPartial(Model.MainContact.PartialViewName, Model.MainContact, new ViewDataDictionary
        {
            TemplateInfo = new TemplateInfo { HtmlFieldPrefix = Model.MainContact.Id }
        });

        Html.RenderPartial(Model.BillingContact.PartialViewName, Model.BillingContact, new ViewDataDictionary
        {
            TemplateInfo = new TemplateInfo { HtmlFieldPrefix = Model.BillingContact.Id }
        });

        Html.HiddenFor(m => m.OtherBillingContact, new { data_bind = "value: otherBillingContact" });

        Html.RenderPartial("_ExtraForms", Model);

        Html.RenderPartial("_Actions", Model);
    }

</div>

@section scripts {

    @{Html.RenderPartial("_Scripts", Model);}

    @{Html.RenderPartial("_ExtraScripts", Model);}

}
