<div class="domaintransfer-query">
    <label for="domaintransfer-query">
        Transfer domain:
        <input name="domaintransfer-query" id="domaintransfer-query" type="text" data-bind="value: DomainTransfer.query"/>
    </label>
    <button data-bind="click: DomainTransfer.submit">Add to cart</button>
</div>
