@model Atomia.Store.Core.DomainSearchQuery

<div class="domainreg-query">
@using (Html.BeginForm("FindDomains", "Domains", FormMethod.Post, new { data_bind = "submitValid: DomainReg.submit" }))
{

    <label for="domainreg-query">
    Find domain name:
    @Html.TextBoxFor(m => m.SearchTerm, new { data_bind = "value: DomainReg.query" })
    </label>
    <p>@Html.ValidationMessageFor(m => m.SearchTerm)</p>
    <button type="submit">Find</button>
}
</div>

<div class="domainreg-results">
    <table data-bind="visible: DomainReg.hasResults">
        <thead>
            <tr>
                <th>Domain name</th>
                <th>Status</th>
                <th>Annual fee</th>
                <th>Buy</th>
            </tr>
        </thead>
        <tbody data-bind="foreach: DomainReg.results()">
            <tr>
                <td data-bind="text: DomainName"></td>
                <td data-bind="text: Status"></td>
                <td data-bind="text: CurrencyCode + ' ' + Price"></td>
                <td data-bind="click: addToCart"><button>Add to cart</button></td>
            </tr>
        </tbody>
    </table>
</div>
