<div data-bind="visible: Domains.transfer.active">
    <label for="transfer-query">
        Transfer domain:
        <input name="transfer-query" id="transfer-query" type="text" data-bind="value: Domains.transfer.query"/>
    </label>
    <button data-bind="click: Domains.transfer.submit">Add to cart</button>
</div>