
<label for="transfer-query">
    Transfer domain:
    <input name="transfer-query" id="transfer-query" type="text" data-bind="value: DomainTransfer.query"/>
</label>
<button data-bind="click: DomainTransfer.submit">Add to cart</button>
