@*
    Knockout ViewModel: Atomia.ViewModel.DomainReg from Scripts/viewmodels/domainreg.js
*@

<div class="domainreg-query">
    <label for="domainreg-query">
    Find domain names:
    <textarea name="domainreg-query" id="domainreg-query" rows="5" cols="40" data-bind="value: DomainReg.query"></textarea>
    </label>
    <button data-bind="click: DomainReg.submit">Find</button>
</div>

<div class="domainreg-results">
    <table data-bind="visible: DomainReg.hasResults">
        <thead>
            <tr>
                <th>Domain name</th>
                <th>Status</th>
                <th>Annual fee</th>
                <th>Buy</th>
            </tr>
        </thead>
        <tbody data-bind="foreach: DomainReg.results()">
            <tr>
                <td data-bind="text: DomainName"></td>
                <td data-bind="text: Status"></td>
                <td data-bind="text: CurrencyCode + ' ' + Price"></td>
                <td><button>Add to cart</button></td>
            </tr>
        </tbody>
    </table>
</div>