@model Atomia.OrderPage.Themes.Default.ViewModels.DefaultDomainsViewModel
@using Atomia.OrderPage.Core.Models

@{
    Layout = "~/Views/_MainLayout.cshtml";
    ViewBag.Title = "Domains";
}

<h2>Domains</h2>
<p>
    <span>@Html.ResourceNotEncoded("Common,Hello")</span>, fill in the form below to register one or more new domain names or to transfer an existing domain name.
</p>

@using (Html.BeginForm())
{

    <fieldset>
        <legend>Alternatives</legend>
        <label for="queryType-domainreg">
            <input id="queryType-domainreg" name="queryType" type="radio" value="domainreg" data-bind="checked: Domains.queryType" />
            Register new domain name
        </label>

        <label for="queryType-transfer">
            <input id="queryType-transfer" name="queryType" type="radio" value="transfer" data-bind="checked: Domains.queryType" />
            Transfer existing domain name
        </label>
    </fieldset>
}

    <div data-bind="visible: Domains.domainRegActive">
        @Html.Partial("_DomainRegistration", new DomainSearchQuery())
    </div>

    <div data-bind="visible: Domains.domainTransferActive">
        @Html.Partial("_DomainTransfer")
    </div>


@section scripts {
    @Scripts.Render("~/bundles/domains")
}
