@model Atomia.OrderPage.Themes.Default.Models.DefaultDomainsModel

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div>
        Hello? Yes, this is dog. @Model.Foo
    </div>
</body>
</html>
