@model Atomia.OrderPage.Themes.Default.ViewModels.DefaultDomainsViewModel

@{
    Layout = "~/Views/_MainLayout.cshtml";
    ViewBag.Title = "Domains";
}

<h2>Domain registration</h2>
<p>
    Fill in the form below to register one or more new domain names or to transfer an existing domain name.
</p>

<form action="/" method="post">
    <fieldset>
        <legend>Alternatives</legend>
        <label for="register_type">
            <input id="register_type" name="domain_type" type="radio" value="register" data-bind="checked: Domains.domainQueryType" />
            Register new domain name
        </label>

        <label for="transfer_type">
            <input id="transfer_type" name="domain_type" type="radio" value="transfer" data-bind="checked: Domains.domainQueryType" />
            Transfer existing domain name
        </label>
    </fieldset>
    
    <div data-bind="visible: Domains.isRegisterQuery">
        <label for="register_query">Find domain names:
            <textarea name="register_query" id="register_query" rows="5" cols="40" data-bind="value: Domains.registerDomainQuery"></textarea>
        </label>
    </div>
    
    <div data-bind="visible: Domains.isTransferQuery">
        <label for="transfer_query">Transfer domain:
            <input name="transfer_query" id="transfer_query" type="text" data-bind="value: Domains.transferDomainQuery"/>
        </label>
    </div>

    <button type="submit" data-bind="click: Domains.submit">Submit Form</button>
</form>

@section scripts {
    <script src="../../Scripts/viewmodels/domains.js" type="text/javascript"></script>
    <script type="text/javascript">
        Atomia.ViewModel.Domains.init({
            allowedNumberOfDomains: @Model.AllowedNumberOfDomains,
            allowedDomainLength: @Model.AllowedDomainLength
        });
    </script>
}
