@model Atomia.OrderPage.Themes.Default.ViewModels.DefaultDomainsViewModel
@using Atomia.OrderPage.Core.Models;

@{
    Layout = "~/Views/_MainLayout.cshtml";
    ViewBag.Title = "Domains";
}

<h2>Domain registration</h2>
<p>
    Fill in the form below to register one or more new domain names or to transfer an existing domain name.
</p>

<form action="." method="post">

    <fieldset>
        <legend>Alternatives</legend>
        <label for="queryType-find">
            <input id="queryType-find" name="queryType" type="radio" value="find" data-bind="checked: Domains.queryType" />
            Register new domain name
        </label>

        <label for="queryType-transfer">
            <input id="queryType-transfer" name="queryType" type="radio" value="transfer" data-bind="checked: Domains.queryType" />
            Transfer existing domain name
        </label>
    </fieldset>
    

    <div data-bind="visible: Domains.find.active">
        <label for="find-query">
            Find domain names:
            <textarea name="find-query" id="find-query" rows="5" cols="40" data-bind="value: Domains.find.query"></textarea>
        </label>
        <button data-bind="click: Domains.find.submit">Find</button>
        
        <table>
            <thead>
                <tr>
                    <th>Domain name</th>
                    <th>Status</th>
                    <th>Annual fee</th>
                    <th>Buy</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>example.com</td>
                    <td>1</td>
                    <td>USD 11.41</td>
                    <td><button>Add to cart</button></td>
                </tr>
            </tbody>
        </table>
    </div>
    

    <div data-bind="visible: Domains.transfer.active">
        <label for="transfer-query">
            Transfer domain:
            <input name="transfer-query" id="transfer-query" type="text" data-bind="value: Domains.transfer.query"/>
        </label>
        <button data-bind="click: Domains.transfer.submit">Add to cart</button>
    </div>

</form>


@section scripts {
    <script src="../../Scripts/viewmodels/domains.js" type="text/javascript"></script>
    <script type="text/javascript">
        Atomia.ViewModel.Domains.init();
    </script>
}
