@{
    Layout = null;
    ViewBag.Title = "OrderPage3";
}

<!DOCTYPE html>

<html>
<head>
    <link href="../../Content/css/skeleton/base.css" rel="stylesheet" type="text/css" />
    <link href="../../Content/css/skeleton/skeleton.css" rel="stylesheet" type="text/css" />
    <link href="../../Content/css/skeleton/layout.css" rel="stylesheet" type="text/css" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <div class="container">
        @RenderBody()
    </div>
</body>
</html>
