@model Atomia.Store.AspNetMvc.Models.DomainViewModel

@{
    Layout = "~/Themes/Default/Views/_MainLayout.cshtml";
}

<div class="settingsboxinner">
    <p>@Html.CommonResourceRaw("DomainRegDescription")</p>

    @using (Html.BeginForm())
    {

        <fieldset>
            <label for="queryType-domainreg">
                <input id="queryType-domainreg" name="queryType" type="radio" value="domainreg" data-bind="checked: Domains.QueryType" />
            </label>
            <label for="queryType-transfer">
                <input id="queryType-transfer" name="queryType" type="radio" value="transfer" data-bind="checked: Domains.QueryType" />
            </label>
        </fieldset>
    }

    <div data-bind="visible: Domains.DomainRegActive">
        @Html.Partial("_DomainRegistration", Model)
    </div>

    <p class="actions">
        @Html.RouteLink(Html.CommonResource("Next"), "Hosting", null, new { id = "next_step", @class = "button large green" })
    </p>
</div>

@section scripts {
    <script type="text/javascript">
        var Atomia = Atomia || {};
        Atomia.VM = Atomia.VM || {};

        Atomia.VM.Domains = Atomia.ViewModels.CreateDomainsPage();
        Atomia.VM.DomainRegistration = Atomia.ViewModels.CreateDomainRegistration(Atomia.VM.Cart);

        Atomia.VM.Progress.Step(1);
    </script>
}
