@using Atomia.Store.AspNetMvc.Models
@{
    var orderFlow = (OrderFlowModel)ViewBag.OrderFlow;
    var routeValues = orderFlow.IsQueryStringBased ? new { flow = orderFlow.Name } : null;
}

<p class="actions">
    @if (!string.IsNullOrEmpty(orderFlow.CurrentStep.Previous)){
        @Html.RouteLink(Html.CommonResource("Back"), orderFlow.CurrentStep.Previous, routeValues, new { id = "back_step", @class = "button large", style = "display: inline-block;" })
    }
    
    <!-- ko with: Atomia.VM.cart -->
    @Html.RouteLink(Html.CommonResource("Next"), orderFlow.CurrentStep.Next, routeValues, new { id = "next_step", @class = "button large green", data_bind = "visible: domainItems().length > 0" })
    @Html.RouteLink(Html.CommonResource("SkipDomain"), orderFlow.CurrentStep.Next, routeValues, new { id = "next_step_skip", @class = "button small orange", data_bind = "visible: domainItems().length === 0" })
    <!-- /ko -->
</p>
