<div class="domainmove-query">
    <label for="domainmove-query">
        Move domain:
        <input name="domainmove-query" id="domainmove-query" type="text" data-bind="value: DomainMove.Query" />
    </label>
    <button data-bind="click: DomainMove.Submit">Add to cart</button>
</div>
