<div class="domainmove-query">
    <label for="domainmove-query">
        Move domain:
        <input name="domainmove-query" id="domainmove-query" type="text" data-bind="value: domainMove.query" />
    </label>
    <button data-bind="click: domainMove.submit">Add to cart</button>
</div>
