@using (Html.BeginForm())
{
    <fieldset>
        <label for="queryType-register">
            <input id="queryType-register" name="queryType" type="radio" value="register" data-bind="checked: queryType" />
        </label>
        <label for="queryType-move">
            <input id="queryType-move" name="queryType" type="radio" value="move" data-bind="checked: queryType" />
        </label>
    </fieldset>
}
