@model Atomia.Store.AspNetMvc.Models.DomainsViewModel

@{
    Layout = "~/Themes/Default/Views/_OrderFlowLayout.cshtml";
}

<div class="settingsboxinner" data-bind="with: Atomia.VM.domains">
    @Html.AntiForgeryToken();
    <p>@Html.CommonResourceRaw("DomainRegistrationDescription")</p>

    @{ Html.RenderPartial("_QueryType", Model); }

    <div data-bind="visible: domainRegistrationActive">
        @{ Html.RenderPartial("_DomainRegistration", Model); }
    </div>

    @{ Html.RenderPartial("_Actions", Model); }
</div>

@section scripts {
    @{ Html.RenderPartial("_Scripts", Model); }

    @{ Html.RenderPartial("_ExtraScripts", Model); }
}
