@{
    Layout = null;
    ViewBag.Title = Html.CommonResource("OrderPageTitle");
}

<!DOCTYPE html>

<html>

@Html.Partial("_Head")

<body>
    <header>
        <div class="margins">
            <a id="logo" href="/">Atomia</a>
            
            <nav id="top_menu">
                <ul id="apps"></ul>
            </nav>
        </div>
    </header>

    <section id="main">
        <div class="margins">
            <div id="homecontent">
                <div class="settingsbox">
                    @RenderBody()
                </div>
            </div>
        </div>
    </section>

    @Html.Partial("_Footer")
</body>
</html>
