<?xml version="1.0" encoding="UTF-8"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
    <appSettings>
        <add key="GlobalEventsHandler" value="MyTheme.GlobalEventsHandler, MyTheme"  xdt:Locator="Match(key)" xdt:Transform="SetAttributes(value)" />
        
        <!--
          * Specify themes as a comma separated list. 
          * Except the Default theme, only one theme at a time will be used.
          * The Default theme (if available) will be used as a fallback for views that do not exist in the current theme.
        -->
        <add key="ActiveThemes" value="MyTheme,Default" xdt:Locator="Match(key)" xdt:Transform="SetAttributes(value)" />
        
        <!-- 
          * Specify one of the themes from ActiveThemes. 
          * Will be used as start theme for all users.
        -->
        <add key="StartTheme" value="MyTheme" xdt:Locator="Match(key)" xdt:Transform="SetAttributes(value)" />

        <!-- Used by Atomia.Store.Themes.Default.Adapter.PremiumDomainsProvider 
             Will be displayed more prominently on top of domain search results.
        -->
        <add key="PremiumTLDs" value="com,net,org" xdt:Locator="Match(key)" xdt:Transform="SetAttributes(value)" />
        
        <!-- If product and cart item prices should be displayed including or excluding VAT -->
        <add key="PricesIncludeVat" value="true" xdt:Locator="Match(key)" xdt:Transform="SetAttributes(value)" />
    </appSettings>
</configuration>
