<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-COMPATIBLE" content="IE=edge" />
    <title>@ViewBag.Title</title>

    @Styles.Render("~/Themes/Default/Content/css/atomia_2/style")

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Dosis:300,500|Oswald:300,400,700" type="text/css" />

    <!--[if IE]><link rel="shortcut icon" href="~/Themes/Default/Content/img/atomia_2/favicon.ico" type="image/x-icon" /><![endif]-->
    <link rel="icon" href="~/Themes/Default/Content/img/atomia_2/favicon.png" type="image/png" />
</head>
