<div id="language_selector" class="head_tray" data-bind="slideVisible: languageSelector.modalIsOpen, css: { opened: languageSelector.modalIsOpen }, event: { mouseleave: languageSelector.closeModal }">
    <div class="margins">
        <div class="lngbox">
            <h3>@Html.CommonResource("LanguageSelectorTitle")</h3>
            <ul data-bind="foreach: languageSelector.languages">
                <li>
                    <a data-bind="attr: { href: changeLanguageUrl }"><span data-bind="text: shortName"></span> <!-- ko text: name --><!-- /ko --></a>
                </li>
            </ul>
        </div>
    </div>
</div>
