@using Atomia.Store.AspNetMvc.Models
@{
    var orderFlow = (OrderFlowModel)ViewBag.OrderFlow;
}

<div class="progress_block">
    <div class="margins">
        <ol class="progress">
            @foreach (var step in orderFlow.Steps)
            {
                <li @(orderFlow.CurrentStep.StepNumber == step.StepNumber ? "class=current" : String.Empty)>
                    <div>@step.StepNumber</div>
                    <h4>@step.Title</h4>
                    <p>@step.Description</p>
                </li>
            }
        </ol>
    </div>
</div>
